html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

}

.heading {
  height: 357px;
  margin-top: -30px;
  background-color: #f5f5f5;
}

.row {
  margin-top: -327px;
}

.picture {
  height: 593px;
  margin-top: -457px;
  background:url(../images/model.png) no-repeat;
}

.circle {
	width: 380px;
	height: 380px;
  background: linear-gradient(to top left, rgba(243, 239, 189, 0.972), rgb(245, 202, 111));
  margin: 70px 0 0 -12px;
	border-radius: 190px;
}

.square {
  width: 380px;
	height: 130px;
  background: #ffffff;
  margin-top: -123px;
}

.ending {
  height: 85px;
  margin: -85px;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, .15);
}

.mainText {
  margin-top: 205px;
}

.chapter {
  color: #f7c04d;
  text-transform: uppercase;
}

.products {
  margin-top: 60px;
}

.pageLeft {
  margin-left: 180px;
}

.pageRight {
  margin-left: 30px;
}

.products>div {
  margin: -82px 0 0 90px;
}

.mainCard {
  margin-top: 345px;
}

.form-group-size {
  width: 230px;
}

.form-group-member {
  width: 60px;
  margin: -35px 0 0 235px;
}

.description {
  width: 280px;
  font-size: 8px;
  padding: 15px 0 15px 0;
}

.input-group {
  width: 295px;
}

.addToCard {
  background-color: black;
  height: 79px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  padding-top: 30px;
}

@media (max-width: 767px) {
  .heading {
    height: 0px;
    margin-top: 0px;
  }

  .row {
    margin-top: 0px;
  }

  .picture {
    height: 0px;
    margin-top: 0px;
  }

  .circle {
    width: 0px;
    height: 0px;
  }

  .square {
    width: 0px;
  }

  .mainText {
    margin-top: 80px;
  }

  .mainCard {
    margin-top: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .picture {
    height: 0px;
    margin-top: 0px;
  }

  .circle {
    width: 0px;
    height: 0px;
  }

  .square {
    width: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .picture {
    height: 593px;
    width: 120%;
    margin-left: -30px;
    background:url(../images/model.png) no-repeat;
  }

  .circle {
    margin-left: -40px;
  }

  .square {
    margin-left: -40px;
  }
}
